<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Conexión a SQL Server local (instancia completa, DB ya creada) -->
		<add name="DefaultConnectionLocal"
			 connectionString="Server=.;Database=GestionPedidos;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>

		<!-- Conexión a servidor remoto -->
		<add name="DefaultConnectionRemote"
			 connectionString="Server=SERVIDORPRUEBAS\SQLEXPRESS;Database=GestionPedidos;User Id=usuario;Password=miContraseña;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>

		<!-- Conexión a archivo .mdf local incluido en el proyecto -->
		<add name="DefaultConnectionLocalFile"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database\GestionPedidos.mdf;Integrated Security=True;Connect Timeout=30"
			 providerName="Microsoft.Data.SqlClient"/>		
	</connectionStrings>
</configuration>